@import "tailwindcss";

:root {
  --background: #3f3f46;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #272727;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
